<div class="card">    
    <div class="container-fluid">
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Educación</h1>     
            </div>            
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            </div>          
        </div>
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/276223060_10226651653187326_7199218873470269609_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=Sa7h6y8B4OwAX--uFIm&_nc_ht=scontent.faep9-2.fna&oh=00_AT_xfYYWj2QeB68yLsaTOY3qvclinD_mHOuD4jh5Bpor_Q&oe=623D5667" class="img-fluid" alt="Logo Argentina Programa">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>#SEPROGRAMAR</h3>
                    <p>Argentina Programa</p>
                    <p>ago 2021 - oct 2021</p>                    
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                
                </div>            
            </div>          
        </div>
        
        <br>
        
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/162221995_203137648266522_1454448260938346119_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Yd5rwmCygYkAX_uyBY7&_nc_ht=scontent.faep9-1.fna&oh=00_AT_oGUnjbVz6gmFQA1ExpA7NlDj81LBGdfvWzFLib2_q8A&oe=625DF694" class="img-fluid" alt="Logo E.E.S.T. N°4">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                        
                    <h3>Técnico Mecánico Electricista</h3>
                    <p>E.E.S.T. N° 4</p>
                    <p>mar 1988 - nov 1993</p>                    
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        
        <br>
        
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/275751900_10226651510703764_7462452819569573652_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=aZpiVjhxuKIAX85TiwQ&_nc_ht=scontent.faep9-1.fna&oh=00_AT-HfKk8zdQ6PO5s_84RU9Zd-1PUc29dg2pLnl7QYbqc8w&oe=623E4137" class="img-fluid" alt="Logo Instituto Malvinas">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>Maestro de Inglés</h3>
                    <p>Instituto Malvinas</p>
                    <p>mar 1985 - jul 1991</p>                    
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                              
                </div>            
            </div>          
        </div>
        <br>   
    </div>
</div>
