<div class="card">    
    <div class="container-fluid">
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Educación</h1>     
            </div>            
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            </div>          
        </div>
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1647226457/APLogo-20-20.png" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>Argentina Programa</h3>
                    <p>#SEPROGRAMAR</p>
                    <p>ago 2021 - oct 2021</p>                    
                    <p>C.A.B.A - <span>Pcia. de Buenos Aires</span></p>                                
                </div>            
            </div>          
        </div>
        
        <br>
        
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/162221995_203137648266522_1454448260938346119_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=9x97xwcfT8UAX9d_S3k&_nc_ht=scontent.faep9-1.fna&oh=00_AT8GHtUf-Ec5S5hWho9Q6XQNKncheIOcDAutdVeoWOgyWA&oe=62560D94" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                        
                    <h3>E.E.S.T. N° 4</h3>
                    <p>Técnico Mecánico Electricista</p>
                    <p>mar 1988 - nov 1993</p>                    
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        
        <br>
        
        
        <div class="row">
            <div class="educacion col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="../../../assets/instituto_malvinas.jpeg" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="institucion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>Instituto Malvinas</h3>
                    <p>Maestro de Inglés</p>
                    <p>mar 1985 - jul 1991</p>                    
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                              
                </div>            
            </div>          
        </div>
        <br>   
    </div>
</div>
