

<!--Navbar de Bootstrap https://getbootstrap.com/docs/5.1/components/navbar/-->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <img src="../../../assets/logo_argentina_programa.png" class="logo_argentina_programa img-fluid" alt="Logo Argentina Programa"><strong>  #YoProgramo</strong>
        </a>
        <span>
            <a href="https://github.com/fernar75" target="_blank"><img class="redes" src="https://img.icons8.com/glyph-neue/50/000000/github.png"></a>
            <a href="https://www.linkedin.com/in/fernando-ariel-gattari-4bab8863/" target="_blank"><img img class="redes" src="https://img.icons8.com/glyph-neue/50/000000/linkedin-circled.png"></a>
            <a href="https://api.whatsapp.com/send?phone=+5492916490826" target="_blank"><img img class="redes" src="https://img.icons8.com/ios-glyphs/50/000000/whatsapp.png"></a>
            <a href="#" target="_blank"><button type="button" class="btn btn-dark">Login</button></a>
            
        </span>
        
    </div>
</nav>

<div class="card">
    <img class="banner" src="https://cdn.pixabay.com/photo/2015/08/27/09/22/banner-909710__340.jpg" alt="Banner">
</div>
