* {
    margin: 0px;
    padding: 0px;
}


.container-fluid {
    background-color: lightsteelblue;        
}


.logo_argentina_programa {
    width: 150px;
    height: 70px;
    margin-left: 10px; 
    padding: 2%; 
}


.btn {
    width: 70px;
    height: 35px;
    margin-right: 10px;
    margin-left: 5px;    
}


.banner {
    height: 400px;
    border-radius: 20px;    
}


.card {
    width: 95%;
    margin-inline-start: auto;
    margin-inline-end: auto;    
    margin-top: 10px;
    border-color: grey;
    border-width: medium;
    background-color: lightsteelblue;
    border-radius: 20px;         
}


