<div class="card">    
    <div class="container-fluid">
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Experiencia</h1>     
            </div>            
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            </div>          
        </div>
        
        
        
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxsyBI8GxdEf-fu2OnLTTXtM8hJOixOIw5FQ&usqp=CAU" class="img-fluid" alt="Logo Distribuidora BASA S.R.L.">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>
                    <button><i class="fa fa-trash"></i></button>
                    <button><i class="fa fa-pen"></i></button>
                    <h3>Administrativo contable</h3>                   
                    <p>Distribuidora BASA S.R.L. - <span>Jornada completa</span></p>
                    <p>ago 2008 - abr 2021</p>
                    <p>Encargado general, tareas administrativas, atención al público</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        
        <br>
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/124188858_3569537243082674_3908363436735466143_n.png?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=7BBv1_VtP5UAX9h5-30&_nc_ht=scontent.faep9-1.fna&oh=00_AT9YUAUWiEOrQExyKuoESqAobD71A_OzKFhDR72qEEgI-A&oe=625E9668" class="img-fluid" alt="Logo OSDE S.A.">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>
                    <button><i class="fa fa-trash"></i></button>
                    <button><i class="fa fa-pen"></i></button>                                                           
                    <h3>Mantenimiento gral.</h3>
                    <p>OSDE S.A. - <span>Jornada media</span></p>
                    <p>ene 1998 - nov 2003</p>
                    <p>Tareas de mantenimiento general en oficinas y salones de reunión</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                     
                </div>            
            </div>          
        </div>
        
        <br>
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.18169-9/22815525_353459331763058_266233501465548829_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=PZMnsfiKUfoAX_3wySX&_nc_ht=scontent.faep9-2.fna&oh=00_AT-5WfJ7XzabSIMD_liCicZC0cGMA2CgyMj3Tazrslk_VQ&oe=625C6921" class="img-fluid" alt="Logo Copiers S.A.">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>
                    <button><i class="fa fa-trash"></i></button>
                    <button><i class="fa fa-pen"></i></button>                                                           
                    <h3>Servicio técnico</h3>
                    <p>Copiers S.A. - <span>Jornada completa</span></p>
                    <p>mar 1994 - dic 2001</p>
                    <p>Tareas de atención al público y servicio técnico de fotocopiadoras en local y a domicilio</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        <br>   
    </div>
</div>






