<div class="card">    
    <div class="container-fluid">
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Experiencia</h1>     
            </div>            
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            </div>          
        </div>
        
        
        
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="../../../assets/logo_distribuidora_basa_srl.png" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                        
                    <h3>Administrativo contable</h3>
                    <p>Distribuidora BASA S.R.L. - <span>Jornada completa</span></p>
                    <p>ago 2008 - abr 2021 - <span>12 años y 9 meses</span></p>
                    <p>Encargado general, tareas administrativas, atención al público</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        
        <br>
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="https://scontent.fbhi3-2.fna.fbcdn.net/v/t1.6435-9/124188858_3569537243082674_3908363436735466143_n.png?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=AsBZASDB2L8AX9Qaevb&_nc_ht=scontent.fbhi3-2.fna&oh=00_AT897CXOjyTGwQv6LnuLtP3w-U8JPMMC0RvZcQkpn0AP5Q&oe=624EC468" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>Mantenimiento de alfombras</h3>
                    <p>OSDE S.A. - <span>Jornada media</span></p>
                    <p>ago 2008 - abr 2021 - <span>12 años y 9 meses</span></p>
                    <p>Tareas de mantenimiento general de alfombras y tapizados en oficinas y salones de reunión</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                     
                </div>            
            </div>          
        </div>
        
        <br>
        
        <div class="row">
            <div class="experiencia col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <img src="http://www.copiers-copiadoras.com.ar/images/u27233-4.png?crc=125707781" class="img-fluid" alt="Foto de Empresa">     
            </div>
            
            <div class="titulo_del_puesto col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div>                                                           
                    <h3>Servicio técnico</h3>
                    <p>Copiers S.A. - <span>Jornada completa</span></p>
                    <p>ago 2008 - abr 2021 - <span>12 años y 9 meses</span></p>
                    <p>Tareas de atención al público y servicio técnico de fotocopiadoras en local y a domicilio</p>
                    <p>Bahía Blanca - <span>Pcia. de Buenos Aires</span></p>                                    
                </div>            
            </div>          
        </div>
        <br>   
    </div>
</div>






