<div class="card">    
    <div class="container-fluid">        
        <div class="row">
            <div class="hard_and_soft_skills col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Hard & Soft Skills</h1>     
            </div>
            
            <div class="hard_and_soft_skills col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">                     
            </div>  
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>HTML</h3>
                <circle-progress
                [percent]="75"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>     
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>CSS</h3>
                <circle-progress
                [percent]="65"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>    
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>JAVASCRIPT</h3>
                <circle-progress
                [percent]="60"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>   
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>ANGULAR</h3>
                <circle-progress
                [percent]="60"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div> 
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>JAVA</h3>
                <circle-progress
                [percent]="60"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>     
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>MYSQL</h3>
                <circle-progress
                [percent]="70"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>    
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>COMPROMISO</h3>
                <circle-progress
                [percent]="100"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>   
            
            <div class="skills col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">             
                <h3>ORGANIZACION</h3>
                <circle-progress
                [percent]="90"
                [radius]="60"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                ></circle-progress>
            </div>              
            
        </div>          
    </div>
    <br>
</div>



